@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: row;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.activity {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  max-width: 1200px;
  margin-left: 75px;
  margin-right: 75px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.day-type {
  font-family: 'Roboto', sans-serif;
  color: #002984;
  font-size: 32px;
  font-weight: 700;
}

.time {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: black;
}

mat-toolbar {
  font-family: 'Roboto', sans-serif;
  background-color: #002984;
  color: white;
  min-height: 56px;
  max-height: 56px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0, .6);
}

.toolbar-wrapper > ::ng-deep .toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
}

.distance, .pace, .duration, .calories {
  display: flex;
  align-items: center;
}

.activity-type {
  height: 40px;
  width: 40px;
  fill: #7986CB;
  margin-right: 10px;
}

.table-map-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #9FA8DA;
}

.table-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
  height: 500px;
}

mat-table {
  width: 100%;
  text-align: center;
  overflow: auto;
}

mat-header-cell {
  color: #002984;
}

mat-cell {
  color: #757ce8;
}

.map {
  width: 70%;
}

agm-map {
  height: 100%;
}

.line-chart-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

canvas {
  height: 300px;
}

button {
  background-color: #7986CB;
}