<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav class="sidenav">
    Jolly good!
  </mat-sidenav>

  <!-- <div class="sidenav-content"> -->
    <mat-sidenav-content class="user">
      <div *ngIf="activityService.athlete">
        <div>
          <img [src]="activityService.athlete['profile']">
        </div>
        <div class="text">
          <span class="name">{{activityService.athlete['firstname']}} {{activityService.athlete['lastname']}}</span>
          <span class="email">{{activityService.athlete['city']}}</span>
        </div>
      </div>
    </mat-sidenav-content>
  <!-- </div> -->

</mat-sidenav-container>