
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: row;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.toolbar-wrapper > ::ng-deep .toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
}

.run, .bike, .swim {
  display: flex;
  align-items: center;
}

.activity-type {
  height: 40px;
  width: 40px;
  fill: #7986CB;
  margin-right: 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 70vw;
  max-height: 90vh;
  max-width: 1200px;
  min-width: 900px;
  margin: 75px;
}

mat-toolbar {
  background-color: #002984;
  min-height: 56px;
  max-height: 56px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0, .6);
  color: white;
}

mat-table {
  overflow: auto;
}

mat-form-field {
  margin: 0 25px;
}

mat-header-row {
  background-color: #3F51B5;
}

mat-header-cell {
  color: white;
  font-size: 14px;
}

mat-row:nth-child(even), .unhighlight {
  background-color: #ffffff;
}

mat-row:nth-child(odd), .unhighlight {
  background-color: #f2f2f2;
}

mat-cell {
  color: #3F51B5;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: #2B2E95;
}

.highlight {
  background-color: #b0c1f0 !important;
  mat-cell {
    color: white;
  }
}