@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.nav-container {
  width: 300px;
  min-height: 100%;
  flex: 1;
  background-color: #2B2E95;
  font-family: 'Roboto', sans-serif;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 225px;
  width: 100%;
  background-color: #2B2E95;
}

.user img{
  border-radius: 50%;
  border: 1px solid white;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  color: white;
}

.text .name {
  font-weight: 900;
}

.text .location {
  font-weight: 300;
}

.achievements {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #4d51cb;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.activity-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.activity-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.activity-icon img {
  height: 50px;
  width: 50px;
}

.activity-icon span {
  color: white;
}