h2 {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

li.selected {
  background-color: #ACCBD8;
  color: #320DB9;
}

.activities-container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

a {
  text-decoration: none;
}