<!-- <div>
  <md-table>

  </md-table>
</div> -->
<h2>ACTIVITIES</h2>
<!-- <ul>
  <li *ngFor="let activity of activities$ | async"
  [class.selected]="activity.id === selectedId">
  <a [routerLink]="['/activity', activity.id]">
    <span>{{activity.start_date | date:'medium'}}</span>{{activity.name}}
  </a>
  </li>
</ul> -->
<div class="wrapper">
  <div class="activities-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef> Date / Time </mat-header-cell>
        <mat-cell *matCellDef="let activity">
          <a [routerLink]="['/activity', activity.id]">
          {{activity.start_date | date:'EEE M/d/yy, h:mm a'}} </a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef> Distance </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.distance}}mi </mat-cell>
      </ng-container>

      <ng-container matColumnDef="average_pace">
        <mat-header-cell *matHeaderCellDef> Average Pace </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.average_pace}}/mi </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.type}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [length]="25"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 100]">
    </mat-paginator>
  </div>
</div>