.wrapper {
  display: flex;
  justify-content: center;
}

.activities-container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

mat-header-row {
  background-color: #2B2E95;
}

mat-header-cell {
  color: white;
  font-size: 14px;
}

mat-row:nth-child(even), .unhighlight {
  background-color: #ffffff;
}

mat-row:nth-child(odd), .unhighlight {
  background-color: #f2f2f2;
}

mat-cell {
  color: #2B2E95;
}

a {
  text-decoration: none;
}

.highlight {
  background-color: rgb(183, 185, 241) !important;
  mat-cell {
    color: white;
  }
}