.wrapper {
  display: flex;
  justify-content: center;
}

li.selected {
  background-color: #ACCBD8;
  color: #320DB9;
}

.activities-container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

mat-row:nth-child(even) {
  background-color: #ffffff;
}

mat-row:nth-child(odd),  {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.highlight {
  background-color: #42A948;
}