<!-- <div>
  <md-table>

  </md-table>
</div> -->
<!-- <ul>
  <li *ngFor="let activity of activities$ | async"
  [class.selected]="activity.id === selectedId">
  <a [routerLink]="['/activity', activity.id]">
    <span>{{activity.start_date | date:'medium'}}</span>{{activity.name}}
  </a>
  </li>
</ul> -->
<div class="wrapper">
<app-side-nav></app-side-nav>


  <div class="table-container mat-elevation-z8">
    <div class="filter">
      <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filter activities">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date / Time </mat-header-cell>
        <mat-cell *matCellDef="let activity">
          <a [routerLink]="['/activity', activity.id, activityService.pageIndex, activityService.pageSize]">
          {{activity.start_date | date:'EEE M/d/yy, h:mm a'}} </a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Distance </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.distance}}mi </mat-cell>
      </ng-container>

      <ng-container matColumnDef="average_pace">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Average Pace </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.average_pace}}/mi </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let activity"> {{activity.type}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedRowIndex === row.id, 'unhighlight': selectedRowIndex === null}"
        (click)="highlightRow(row)">
      </mat-row>
    </mat-table>

    <mat-paginator #paginator
      [length]="activityService.activityTotal"
      [pageIndex]="activityService.pageIndex"
      [pageSize]="activityService.pageSize"
      [pageSizeOptions]="[10, 25, 50, 100]"
      (page)="pageEvent = activityService.getActivities($event)">
    </mat-paginator>
  </div>
</div>